body {
  background: white;
}
* {
  border: 1px solid black;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 96vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  width: 100%;
  flex-grow: 1;
  margin: 1em;
}
main {
  flex-grow: 2;
  margin: 1em;
}
footer {
  margin: 1em;
  flex-grow: 1;
}
@media (max-width: 600px) {
  .container{
    flex-direction: column;
  }
}

