body {
  background: white;
}
* {
  border: 1px solid black;
  box-sizing: border-box;
}
/* container 1*/
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* container 1*/

/* container 2*/
.container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: stretch;
  align-items: center;
  /*min-height: 80vh; */ 
  max-width: 65%;
  margin: .5em;
  max-height: 86.75vh;
}
/* container 2*/

header{
  width: 100%;
  flex-grow: 1;
  margin: .5em;
}

/***** inside container 2 *****/
aside  {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 20vh;
  flex-grow: 1;
  margin: .5em;
  max-height: 50vh;
}

aside > div {
  flex-grow: 10;
  margin: .5em;
}
main {
  width: 90%;
  flex-grow: 3;
  margin: .5em;
}
/***** container 2 end *****/

footer {
  margin: .5em;
    flex-grow: 3;
    min-height:  80vh;
    max-width: 65vh;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  header {
    max-height: 10vh;
    min-width: 100%;
  }
  .container-2 {
    min-width: 100%;
      
  }
  footer {
    margin: .5em;
    flex-grow: 1;
    min-height: 15vh;
    max-width: 100%;
  }
}